PORT=5000
MONGODB_URI=mongodb://localhost:27017/ai_interview_service
GROQ_API_KEY=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
GEMINI_API_KEY=AIzaSyBOt-f6uqbPrEKVcfe8SJ8iJG0BGu2-IoY
NODE_ENV=development
